.workFlowTable {
  /* overflow: scroll; */
  
}

.workFlowTable tr:hover {
    background-color: #f1f1f1;
}

.workFlowTable th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding-right: 100px;
}
.edit
{
  visibility: hidden !important;
}

.customDialogWidth {
  width: 80% !important; /* Adjust width as needed */
  height: 50%;
  max-width: 620px !important; /* Limit max width in pixels */
}
